@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    box-sizing: border-box;
    
}

*{
  /* box-sizing: border-box; */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none;
  margin: 0;
  padding: 0;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  @layer utilities {
    .pulse:hover {
      animation: pulse 800ms ease-in-out;
      
    }

    .clip-path-triangle {
      clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
      transition: clip-path 1s;
    }

    .normal-clip{
        clip-path: polygon(0 0, 0% 0, 100% 100%, 0% 100%);
        transition: clip-path 1s;
    }
    .normal-clip:hover{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    
    .clip-path-circle {
      clip-path: circle(50% at 50% 50%);
    }
  }


  
  @keyframes pulse {
    from, to {
      scale: 1;
    }
    
    50% {
      scale: 1.08;
    }
  }
  